# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
android/
expo-env.d.ts

# env
.env


# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macos
.DS_Store
*.pem


# typescript
*.tsbuildinfo